<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVVM</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="name">
    <input type="text" v-model="age">
    <hr>
    <div>
      姓名:
      <span>
        {{ name }}
      </span>
    </div>
    年龄:
    <span>
      {{ age }}
    </span>
  </div>
  <script src="./main.js" type="module"></script>
</body>
</html>